* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
    width: 160px;
    height: 64px;
    font-size: 20px;
    margin-bottom: 160px;
    color: #005fac;
    border-radius: 5px;
    border: none;
  }
  /* start of header items */
.header-container {
  background-image: url("../images/banner/banner3.png");
  width: 1700px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.header-item {
  margin-top: 300px;
  margin-right: 150px;
  float: right;
  text-align: right;
}
.header-heading {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 24px;
  color: #ffffff;
}
.header-para {
  font-size: 16px;
  margin-bottom: 32px;
  color: #ffffff;
}
 /* end of header items */
/* start of main items */
 /* start of main items of 1st section */
 .for-image{
    background: #ffffff;
 }
 .for-items,p{
    font-size: 20px;
    margin-bottom: 16px;
 
 }
 .for-items,h2{
    margin-bottom: 24px;
    font-size: 30px;
 }
 .for-items ul li{
    list-style: none;
    margin-left: -45px;
 }
 .section1{
    display: flex;
    gap: 150px;
    align-items: center;
    margin-left: 150px;
    margin-top: 130px;
    margin-bottom: 130px;
 }
 /* end of main items of 1st section */
 /* start of main items of 2nd section */
.section2{
    margin-top: 100px;
    display: flex;
    gap: 90px;
    margin-left: 300px;
    margin-bottom: 140px;
}
.plan-heading{
    font-size: 30px;
    color: #151414;
    margin-left: -35px;
}
.plan-para{
    font-size: 25px;
    color: #737272;
    margin-left: -40px;
}
/* end of main items of 2nd section */
 /* start of main items of 3rd section */
.grad{
    background-image:  linear-gradient(to left, rgba(87, 83, 83, 0), rgb(70, 96, 246)) ,url("../images/watch.png");
    height: 300px;
    width: 1140px;
    margin: 0 213px 130px 250px;
}
/* .grad-heading{
    margin-top: 80px;
    margin-left: 50px;
} */
/* end of main items of 3rd section */

 /* start of main items of 4th section */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    background-color: brown;
  }
/* end of main items of 4th section */

 /* end of main items */

/* start of footer section */
.footer-left{
    color: white;
    margin-left: 250px;
    margin-top: 120px;
}
.footer-right{
    margin-top: 120px;
}
.left-head{
    font-size: 45px;
}
.left-para{
    font-size: 16px;
}
.left-icons{

    font-size: 30px;
}
.right-head{
    color: white;
    margin-bottom: 20px;
}
.right-btn{
    background-color: #005fac;
    color: white;
    width: 160px;
    height: 64px;
    font-size: 20px;
}
.right-submit{
    width: 250px;
    height: 30px;
    border: 2PX solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    gap: 330px;
}
/* end of footer section */
